<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/spring/SpringConfigDsl"
			class = "org.xtext.spring.springConfigDsl.SpringConfigDslPackage"
			genModel = "model/generated/SpringConfigDsl.genmodel" />
	</extension>
</plugin>
