<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.imt.fr/ales/springdsl/SpringDSL"
			class = "fr.imt.ales.springdsl.springDSL.SpringDSLPackage"
			genModel = "model/generated/SpringDSL.genmodel" />
	</extension>
</plugin>
